@import "index";

body {
    padding-top: 0;
}

#editHeader {
    height: 60px;
    width: 100dvw;
    background-color: var(--dull-green);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

#container {
    margin-top: calc(60px + 25dvh);
    position: relative;
    z-index: 100;
    header {
        top: 60px!important;
        z-index: 300;
    }
}

.edit-panel {
    width: 100%;
    height: 100%;
    z-index: 200;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .3);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    cursor: pointer;
    i {
        font-size: 50px;
        color: white;
    }
    &:hover {
        background-color: rgba(0, 0, 0, .5);
    }
}
